<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
</head>
<body>
    <h1>Panel</h1>
    <form method="POST" action="/save">
        <input type="text" id="comand1" name="comand1" placeholder="команда 1"><br>
        <input type="text" id="comand2" name="comand2" placeholder="команда 2"><br>
        <input type="text" id="comand3" name="comand3" placeholder="команда 3"><br>
        <input type="text" id="comand4" name="comand4" placeholder="команда 4"><br>
        <input type="text" id="comand5" name="comand5" placeholder="команда 5"><br>
        <input type="text" id="comand6" name="comand6" placeholder="команда 6"><br>
        <input type="text" id="comand7" name="comand7" placeholder="команда 7"><br>
        <input type="text" id="comand8" name="comand8" placeholder="команда 8"><br>

        <input type="text" id="ochkicomand1" name="ochkicomand1" placeholder="очки команды 1"><br>
        <input type="text" id="ochkicomand2" name="ochkicomand2" placeholder="очки команды 2"><br>
        <input type="text" id="ochkicomand3" name="ochkicomand3" placeholder="очки команды 3"><br>
        <input type="text" id="ochkicomand4" name="ochkicomand4" placeholder="очки команды 4"><br>
        <input type="text" id="ochkicomand5" name="ochkicomand5" placeholder="очки команды 5"><br>
        <input type="text" id="ochkicomand6" name="ochkicomand6" placeholder="очки команды 6"><br>
        <input type="text" id="ochkicomand7" name="ochkicomand7" placeholder="очки команды 7"><br>
        <input type="text" id="ochkicomand8" name="ochkicomand8" placeholder="очки команды 8"><br>
        
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>
